.carMainContainer {
  position: relative;
  width: 100%;
}

.carContainer {
  position: relative;
}
.carDivsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carImg {
  width: 100%;
  position: relative;
}

.leftView {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 290px;
}

.rearLeftFender,
.rearRightFender {
  width: 15%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FrontLeftDoor2,
.FrontRightDoor2 {
  width: 12%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.FrontLeftDoor1,
.FrontRightDoor1 {
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100px;
}

.FrontLeftFender,
.FrontRightFender {
  width: 15%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topView {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}

.rightView {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 290px;
}

.rearBumper {
  width: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 290px;
}

.trunk {
  width: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 290px;
}

.roof {
  width: 55%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 290px;
}

.boonet {
  width: 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 290px;
}

.frontBumper {
  width: 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 290px;
}

.pointDiv {
  color: red;
  border-radius: 50%;
  padding: 8px 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

@media (max-width: 1025px) {
  .leftView {
    height: 200px;
  }
  .topView {
    height: 250px;
  }
  .rightView {
    height: 200px;
  }

  .rearLeftFender,
  .rearRightFender,
  .FrontLeftDoor1,
  .FrontRightDoor1,
  .FrontLeftDoor2,
  .FrontRightDoor2,
  .FrontLeftFender,
  .FrontRightFender {
    flex-direction: column;
    gap: 10px;
  }

  .trunk,
  .rearBumper,
  .roof,
  .boonet,
  .frontBumper {
    flex-direction: column;
  }

  .rearLeftFender,
  .rearRightFender,
  .FrontLeftDoor1,
  .FrontLeftDoor2,
  .FrontRightDoor1,
  .FrontRightDoor2 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .FrontLeftFender {
    flex-direction: row;
    align-items: end;
  }
}

@media (max-width: 768px) {
  .pointDiv {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
  .leftView {
    height: 160px;
  }
  .topView {
    height: 190px;
  }
  .rightView {
    height: 160px;
  }

  .rearLeftFender,
  .rearRightFender,
  .FrontLeftDoor1,
  .FrontRightDoor1,
  .FrontLeftDoor2,
  .FrontRightDoor2,
  .FrontLeftFender,
  .FrontRightFender {
    gap: 10px;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .pointDiv {
    width: 25px;
    height: 25px;
    font-size: 10px;
    padding: 5px;
  }

  .leftView {
    height: 100px;
  }
  .topView {
    height: 100px;
  }
  .rightView {
    height: 100px;
  }

  .rearLeftFender,
  .FrontLeftDoor1,
  .FrontLeftDoor2,
  .FrontRightDoor1,
  .FrontRightDoor2 {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
  }

  .trunk,
  .rearBumper,
  .roof,
  .boonet,
  .frontBumper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

@media (max-width: 400px) {
  .pointDiv {
    width: 20px;
    height: 20px;
    font-size: 8px;
    padding: 3px;
  }

  .leftView {
    height: 80px;
  }
  .topView {
    height: 95px;
  }
  .rightView {
    height: 80px;
  }

  .rearLeftFender,
  .rearRightFender,
  .FrontLeftDoor1,
  .FrontLeftDoor2,
  .FrontRightDoor1,
  .FrontRightDoor2 {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
  }

  .trunk,
  .rearBumper,
  .roof,
  .boonet,
  .frontBumper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

@media (max-width: 330px) {
  .leftView {
    height: 65px;
  }
  .topView {
    height: 85px;
  }
  .rightView {
    height: 65px;
  }

  .rearLeftFender,
  .FrontLeftDoor1,
  .FrontLeftDoor2,
  .FrontRightDoor1,
  .FrontRightDoor2 {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
  }

  .trunk,
  .rearBumper,
  .roof,
  .boonet,
  .frontBumper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
