.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.single-chart {
  width: 33% !important;
  min-height: 130px !important ;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid lightgray; */
}

.circular-chart {
  display: block;
  margin: 10px auto;
  width: 84px;
  height: 84px;
}

.overAllRating {
  width: 100px !important;
  height: 100px !important;
}

.circle-bg {
  fill: none;
  stroke: transparent;
  stroke-width: 1.8;
}

.circle {
  fill: none;
  stroke-width: 1.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: var(--primary-color);
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.overAllRating {
  font-weight: bold;
  font-size: 3px;
}

@media (max-width: 768px) {
  .circle-chart {
    width: 50% !important;
  }
  .reportContainer {
    max-height: 100% !important;
  }

  .circular-chart {
    width: 62px;
    height: 62px;
  }
  .overAllRating {
    width: 80px;
    height: 80px;
  }
}

.overAllRating.percentage {
  font-weight: bold;
  font-size: 3px;
  text-anchor: middle;
  dominant-baseline: middle;
}

#overAllRatingPercentage {
  font-size: 7px !important;
  font-weight: 600;
}

.reportContainer {
  max-height: 484px;
}
