* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div,
ul,
ol,
li,
a,
button,
input,
textarea,
select,
option,
label,
form {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 244, 244);
}

:root {
  --primary-color: #ffc847;
  --black-color: #191919;
  --white-color: #fff;
  --green-color: #deffcf;
  --red-color: #ffa5a5;
  --orange-color: #ffcc80;


}

.VehicleInspectionReportContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {

}

.accordion-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.accordion-item:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.points {
  align-items: flex-start !important;  /* Change from center to flex-start */
}

/* Update the point class styles */
.point {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;  /* Change from center to flex-start */
  width: 100%;  /* Ensure full width */
}
